extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nojotros" class="img-fluid")

            .col-md-7
                h1 #{pagina}
                

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, sapien ac suscipit iaculis, est ex porta magna, nec efficitur justo metus at lorem. Aliquam eros arcu, mollis quis urna at, tincidunt facilisis ligula. Praesent id turpis velit. Quisque condimentum, nibh vel faucibus blandit, magna quam imperdiet justo, vitae porta velit sapien ut leo. Vestibulum quis arcu justo. Nam consectetur in magna sit amet semper. .

                p Ut ut massa id ex volutpat vehicula. Pellentesque congue hendrerit eros, sit amet consequat orci posuere sit amet. Donec aliquam neque non est convallis, eget tincidunt dui semper. Sed posuere accumsan finibus. Proin nec sem non turpis laoreet feugiat. Maecenas ut mi gravida, egestas justo quis, sagittis magna. Praesent vitae orci quam. Vivamus posuere lacus turpis, sed consequat urna eleifend eget. In quam massa, accumsan vel rutrum vitae, porta sed mi. Pellentesque eget nunc non ipsum convallis facilisis at at sem. Curabitur semper, orci sed euismod lacinia, nibh purus sodales ligula, eget sollicitudin neque ligula ac diam. Vestibulum luctus nulla ligula, varius convallis erat tristique ac. Quisque faucibus sem vel elit ultrices, et condimentum urna accumsan.

                p Ut sit amet bibendum nisi. Nullam iaculis nisi in nisi condimentum, finibus lacinia tortor mollis. Nunc nisl lorem, egestas id tortor id, lacinia mollis velit. Fusce mattis sit amet metus id faucibus. Pellentesque hendrerit nibh massa, sed ultricies lorem finibus sit amet. Vestibulum ut accumsan enim. Duis sit amet rutrum sem. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Ut sit amet bibendum nisi. Nullam iaculis nisi in nisi condimentum, finibus lacinia tortor mollis. Nunc nisl lorem, egestas id tortor id, lacinia mollis velit. Fusce mattis sit amet metus id faucibus. Pellentesque hendrerit nibh massa, sed ultricies lorem finibus sit amet.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos
                    p Ut sit amet bibendum nisi. Nullam iaculis nisi in nisi condimentum, finibus lacinia tortor mollis. Nunc nisl lorem, egestas id tortor id, lacinia mollis velit. Fusce mattis sit amet metus id faucibus. Pellentesque hendrerit nibh massa, sed ultricies lorem finibus sit amet.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Ut sit amet bibendum nisi. Nullam iaculis nisi in nisi condimentum, finibus lacinia tortor mollis. Nunc nisl lorem, egestas id tortor id, lacinia mollis velit. Fusce mattis sit amet metus id faucibus. Pellentesque hendrerit nibh massa, sed ultricies lorem finibus sit amet.
